<a href="https://colab.research.google.com/github/DgBack/Credit_Card_Fraud_Detection/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score 
from sklearn import metrics

In [9]:
card_dataset = pd.read_csv('/content/creditcard.csv')

In [10]:
card_dataset.shape

(23858, 31)

In [15]:
card_dataset.head()
card_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
23853,32953,1.296815,-0.518508,0.348800,0.129750,-0.845934,-0.283287,-0.463165,-0.007344,-0.530097,...,-0.498652,-0.791893,0.058456,0.067753,0.367979,0.400899,0.005089,0.008846,14.00,0.0
23854,32954,1.295646,-0.699613,-1.129649,-2.505043,1.428275,3.010605,-0.892932,0.798386,1.309837,...,0.071540,0.120545,-0.144172,1.066577,0.615628,0.123208,0.013875,0.018547,37.07,0.0
23855,32954,-1.691394,-1.452403,1.671861,-1.769590,1.636843,-0.943701,0.193116,-0.712756,-0.987725,...,0.047745,0.539167,-0.698010,-0.470563,0.621828,-0.254508,-0.724865,-0.360165,53.80,0.0
23856,32954,1.112786,0.062772,1.481419,2.922471,-0.905121,0.366357,-0.670663,0.256586,0.599399,...,0.010125,0.346740,-0.117334,0.416103,0.586102,0.216021,0.042710,0.024984,0.00,0.0
23857,32954,-0.264220,1.107046,0.985544,0.346904,1.121035,0.069275,1.307409,-0.681733,0.346650,...,-0.159083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
card_dataset.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,23858.000000,23858.000000,23858.000000,23858.000000,23858.000000,23858.000000,23858.000000,23858.000000,23858.000000,23858.000000,...,23858.000000,23857.000000,23857.000000,23857.000000,23857.000000,23857.000000,23857.000000,23857.000000,23857.000000,23857.000000
mean,18213.370609,-0.239141,0.198892,0.727022,0.248619,-0.188428,0.082789,-0.132080,0.022901,0.499391,...,-0.041192,-0.137287,-0.038435,0.013626,0.127921,0.027504,0.013233,0.004932,73.976583,0.003689
std,11377.032190,1.894219,1.533073,1.724887,1.440938,1.439894,1.328159,1.334691,1.378382,1.274199,...,0.837207,0.644720,0.526298,0.588573,0.435896,0.520213,0.401059,0.267790,212.761278,0.060623
min,0.000000,-30.552380,-40.978852,-31.103685,-5.172595,-42.147898,-23.496714,-26.548144,-41.484823,-7.175097,...,-20.262054,-8.593642,-26.751119,-2.836627,-7.495741,-1.338556,-8.567638,-9.617915,0.000000,0.000000
25%,6624.750000,-0.959528,-0.376134,0.287941,-0.658457,-0.767634,-0.663707,-0.595277,-0.167688,-0.330826,...,-0.253906,-0.561223,-0.173814,-0.325615,-0.134460,-0.337167,-0.066242,-0.009446,5.990000,0.000000
50%,20564.000000,-0.288644,0.192491,0.874426,0.216440,-0.218348,-0.179887,-0.066356,0.027183,0.422417,...,-0.104848,-0.110305,-0.048570,0.064300,0.164769,-0.046463,0.006465,0.020002,18.040000,0.000000
75%,29010.250000,1.164867,0.843146,1.505467,1.122367,0.325281,0.474103,0.450460,0.286111,1.261519,...,0.066305,0.273088,0.074189,0.400535,0.407827,0.314884,0.094960,0.077392,66.000000,0.000000
max,32954.000000,1.960497,16.713389,4.101716,11.927512,34.099309,22.529298,36.677268,20.007208,10.392889,...,22.614889,5.805795,13.876221,3.695503,5.525093,3.517346,11.135740,4.860769,7879.420000,1.000000

In [16]:
card_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23858 entries, 0 to 23857
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    23858 non-null  int64
 1   V1      23858 non-null  float64
 2   V2      23858 non-null  float64
 3   V3      23858 non-null  float64
 4   V4      23858 non-null  float64
 5   V5      23858 non-null  float64
 6   V6      23858 non-null  float64
 7   V7      23858 non-null  float64
 8   V8      23858 non-null  float64
 9   V9      23858 non-null  float64
 10  V10     23858 non-null  float64
 11  V11     23858 non-null  float64
 12  V12     23858 non-null  float64
 13  V13     23858 non-null  float64
 14  V14     23858 non-null  float64
 15  V15     23858 non-null  float64
 16  V16     23858 non-null  float64
 17  V17     23858 non-null  float64
 18  V18     23858 non-null  float64
 19  V19     23858 non-null  float64
 20  V20     23858 non-null  float64
 21  V21     23858 non-null  float64
 22  V22     23857 non-null  float64
 23  V23     23857 non-null  float64
 24  V24     23857 non-null  float64
 25  V25     23857 non-null  float64
 26  V26     23857 non-null  float64
 27  V27     23857 non-null  float64
 28  V28     23857 non-null  float64
 29  Amount  23857 non-null  float64
 30  Class   23857 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 5.6 MB

In [18]:
card_dataset.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [19]:
card_dataset['Class'].value_counts()

0.0    23769
1.0       88
Name: Class, dtype: int64

In [22]:
# separating the data for analysis
legit = card_dataset[card_dataset.Class == 0]
fraud = card_dataset[card_dataset.Class == 1]

In [23]:
legit_sample = legit.sample(n=492)

In [24]:
print(legit_sample)

        Time        V1        V2        V3        V4        V5        V6  \
22508  32281 -2.059434 -3.633491 -0.374978 -0.885912 -4.697351  0.825585
20059  30757 -0.451742  0.546535  0.718486  0.811218  0.863724  1.650023
6936    9005 -1.217129  1.815092  1.191099 -0.021983  0.355839 -0.436762
2445    2012 -0.410280  1.037655  1.316502 -0.043593  0.123976 -0.688113
718      541 -0.623525  0.176955  2.565715  1.544280  0.109686  0.055218
...      ...       ...       ...       ...       ...       ...       ...
194      128 -0.549716  0.907665  1.597949  1.298978  0.587993  0.032376
15000  26325 -3.140870  2.908782 -0.881833  1.138995 -1.381515 -0.083588
17437  28718  0.941626 -0.905945  0.899453  0.742130 -1.337048 -0.066605
21669  31802 -2.053859 -0.436945  1.565945  0.426761 -0.601787  0.775703
11639  19913  1.396324 -0.481098  0.630109 -0.244255 -1.082479 -0.782327

             V7        V8        V9  ...       V21       V22       V23  \
22508  4.374873 -0.699016 -2.976985  ...  0.643955  0.134099  2.822693
20059  1.191292  0.076778 -0.408513  ... -0.064544  0.116221 -0.103740
6936   0.805737 -0.348929  1.563462  ... -0.487046 -0.701589  0.047425
2445   0.571562  0.081511 -0.641320  ... -0.210402 -0.584620 -0.022303
718    0.259801 -0.192566 -0.320106  ...  0.387800  1.408297  0.019451
...         ...       ...       ...  ...       ...       ...       ...
194    0.754252 -0.306614 -0.269297  ... -0.011485  0.417706 -0.265218
15000 -1.162065  2.103742  0.164496  ... -0.011362 -0.033368  0.118559
17437 -0.584144  0.019051 -0.542452  ... -0.098944  0.071674 -0.118749
21669  0.267006  0.174190 -1.455083  ... -0.345008  0.141410  0.044500
11639 -0.685069 -0.214074  0.933545  ... -0.179179 -0.205599 -0.014325

            V24       V25       V26       V27       V28   Amount  Class
22508  0.791407  0.709595 -0.178307 -0.394623  0.111844  1274.00    0.0
20059 -1.690882  0.153341 -0.168113  0.215724 -0.035866   146.30    0.0
6936  -0.019315 -0.103618  0.019868  0.123754  0.061746     8.98    0.0
2445   0.276405 -0.191296  0.054836  0.240444  0.088677     1.78    0.0
718    0.545551 -1.357580 -0.332164 -0.138540 -0.200151    67.10    0.0
...         ...       ...       ...       ...       ...      ...    ...
194    0.129561 -0.228241 -0.304780 -0.190978 -0.087081    10.00    0.0
15000 -0.322647  0.187667 -0.219283 -0.217660 -0.099346     1.00    0.0
17437  0.397367  0.366307 -0.229839  0.069265  0.060839   158.00    0.0
21669 -0.291092  0.425640 -0.040704  0.734907  0.422583   237.00    0.0
11639  0.342026  0.514702 -0.280965 -0.016866  0.005586    10.00    0.0

[492 rows x 31 columns]

In [26]:
new_dataset = pd.concat([legit_sample, fraud], axis = 0)

In [28]:
new_dataset.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,...,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000
mean,18905.646552,-1.569384,1.056752,-1.171297,1.169581,-0.966311,-0.332191,-1.313431,0.642401,-0.126917,...,0.109301,-0.205376,-0.064024,-0.054509,0.136939,0.023288,0.161125,0.033068,89.071190,0.151724
std,11032.344837,5.075154,3.267439,6.161067,2.729865,3.744709,1.649399,4.281740,3.263909,1.826461,...,1.249422,0.781898,1.047378,0.603820,0.643223,0.478934,0.605119,0.322496,245.449027,0.359063
min,69.000000,-30.552380,-12.082869,-31.103685,-4.826127,-22.105532,-5.697611,-21.922811,-22.605711,-7.175097,...,-6.251035,-8.483441,-19.254328,-2.175642,-4.781606,-1.076380,-3.908080,-2.161673,0.000000,0.000000
25%,8442.000000,-1.377450,-0.244339,-0.125124,-0.454104,-0.944719,-0.936287,-0.779149,-0.169309,-0.674420,...,-0.252117,-0.638224,-0.195062,-0.385726,-0.182518,-0.314625,-0.066045,-0.005921,3.022500,0.000000
50%,21659.500000,-0.479176,0.370442,0.692579,0.621710,-0.193225,-0.323852,-0.087837,0.048487,0.137236,...,-0.064477,-0.166241,-0.059685,0.053103,0.133237,-0.032299,0.021706,0.030288,17.335000,0.000000
75%,28868.750000,1.104599,1.157904,1.418599,1.722290,0.420081,0.295135,0.448558,0.450767,0.975692,...,0.208723,0.258449,0.096939,0.362066,0.459872,0.324431,0.239131,0.132944,76.802500,0.000000
max,32952.000000,1.588267,16.713389,3.614409,11.927512,8.489769,6.360493,5.431271,20.007208,4.418710,...,22.579714,2.295983,3.638520,1.529283,2.208209,1.591749,3.307712,1.108933,3610.000000,1.000000

In [29]:
new_dataset.shape

(580, 31)

In [31]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [32]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [33]:
model = LogisticRegression()

In [34]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [35]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [36]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.978448275862069

In [37]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [38]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9741379310344828